<div class="card h-100">
    <div class="card-header">
        Consolidados
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-5 col-lg-5 col-xl-4">
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                        <div class="card border-dark mb-3 cardPosi" style="max-width: 5rem;position: center;">
                            <div class="card-body text-dark">
                                <h5 class="card-title">{{listDatos.numeroBusDisponibles}}</h5>
                            </div>
                        </div>
                        <p>Numero de Buses Disponibles</p>
                    </div>
                    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                        <div class="card border-dark mb-3" style="max-width: 5rem;">
                            <div class="card-body text-dark bg-lineas-diagonales">
                                <h5 class="card-title">{{listDatos.numeroRutasDisponibles}}</h5>
                            </div>
                        </div>
                        <p>Numero de Rutas Activas</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><br><br>
