<div class="card h-100">
    <div class="card-header">
        Rutas Salientes
    </div>
    <div class="card-body">
        <div class="scroll-box">
            <div class="alert alert-primary" role="alert" *ngFor="let item of listRutas; let i = index">
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
                        <div class="cuadrado bg-lineas-diagonales">

                        </div>
                    </div>
                    <div class="col">
                        <div class="row">
                            <div class="col">
                                <div class="form-group row">
                                    <label for="colFormLabelSm" class="col-sm-6 col-form-label col-form-label-sm"><strong>Ruta</strong>  </label>
                                    <div class="col-sm-6">
                                        {{item.nombreRuta}}
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group row">
                                    <label for="colFormLabelSm" class="col-sm-6 col-form-label col-form-label-sm"><strong>Tipo Bus</strong>  </label>
                                    <div class="col-sm-6">
                                        {{item.tipoVehiculo}}
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group row">
                                    <label for="colFormLabelSm" class="col-sm-6 col-form-label col-form-label-sm"> <strong>Proxima Salida</strong>  </label>
                                    <div class="col-sm-6">
                                        {{item.proximaSalida}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-group row">
                                    <label for="colFormLabelSm" class="col-sm-6 col-form-label col-form-label-sm"><strong>Hora salida</strong> </label>
                                    <div class="col-sm-6">
                                        {{item.horaSalida}}
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group row">
                                    <label for="colFormLabelSm" class="col-sm-6 col-form-label col-form-label-sm"><strong>Capacidad</strong>  </label>
                                    <div class="col-sm-6">
                                        {{item.capacidad}}
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group row">
                                    <div class="col-sm-6">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
