        .scroll-box {
            overflow-y: scroll;
            height: 300px;
            padding: 1rem
        }
        
        .card {
            margin-top: 50px;
            height: 200%;
        }
        
        .cuadrado {
            width: 25vh;
            max-width: 100px;
            height: 25vh;
            max-height: 100px;
            position: relative;
            background: rgb(255, 255, 255);
        }
        
        .alert-primary {
            color: rgb(26, 26, 26);
        }
        
        .bg-lineas-diagonales {
            border: 1px solid rgb(77, 74, 74);
            background: repeating-linear-gradient( 45deg, rgba(0, 0, 0, 0) 20px, rgba(0, 0, 0, 0) 40px, rgb(255, 246, 243) 40px, rgb(255, 255, 255) 60px);
        }